body {
  font-family: sans-serif;
}
h3 {
  text-align: center;
}

ul {
  list-style: none;
}

.done {
  text-decoration: line-through;
  opacity: 0.7;
  color: darkgray;
}

[v-cloak] {
  display: none;
}
