<% @arr.each do |item| %>
  <article>
    <header>
      <p>
        <%= item[:create_date].strftime("%Y/%m/%d %H:%M:%S.%L") %>
        <input type="button" value="delete" onClick="deleteItem('<%= item[:id] %>')">
      </p>
    </header>
    <p><%= item[:text] %></p>  
  </article>
<% end %>