<link rel="stylesheet" href="/css/index.css" />

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="/js/index.js"></script>


<form method="POST" action="">
<textarea id="textarea" name="form" rows="10" cols="40">
</textarea>
<input id="tags" type="text" size="30" placeholder="enter tags separated by commas.">
<input id="submit" type="submit" value="submit">
</form>

<main id="result">
  <%= erb :article %>
</main>