<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

<form method="POST" action="">
<textarea id="textarea" name="form">
</textarea>
<input id="submit" type="submit" value="submit">
</form>

<div id="result">
  <% @arr.each do |item| %>
    <p>
      <%= item[:text] %><%= item[:create_date].strftime("%Y/%m/%d %H:%M:%S.%L") %>
      <input type="button" value="delete" onClick="deleteItem('<%= item[:id] %>')">
    </p>
  <% end %>
</div>

<script type="text/javascript">
$(function() {
  $('form').submit(function(e) {
    e.preventDefault();
    var requrest = $.ajax({
      type: "POST",
      url: "/form",
      dataType: "json",
      data: { form: $('#textarea').val() }
    });
    
    requrest.done(function(data) {
      $('#result').append('<p>'+ data.text + " " + data.create_date +'</p>');
      $('#textarea').val('');
    }).fail(function(e) {
      console.log('error');
    });
  });
});

function deleteItem(id) {
  var requrest = $.ajax({
      type: "POST",
      url: "/item/delete",
      dataType: "json",
      data: { id: id }
    });
    
    requrest.done(function(data) {
      console.log(data);
    }).fail(function(e) {
      console.log('error');
    });
}
</script>