<link rel="stylesheet" href="/css/index.css" />

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="/js/index.js"></script>

<div id="editor">
  <form method="POST" action="">
<textarea id="textarea" name="form" rows="10" cols="40">
</textarea>
    <div class="form-parts">
      <input id="tags" type="text" size="30" placeholder="enter tags separated by commas.">
    </div>
    <div class="form-parts">
      <input id="submit" type="submit" class="btn" value="submit">
    </div>
  </form>

  <div class="article-list">
    <main id="result">
      <%= erb :article %>
    </main>
  </div>
  <% @pages.times do |i| %>
  <% page = i + 1 %>
   <a href="/page/<%= page %>"><%= page %></a>
  <% end %>
</div>
